@page "/despre"
@attribute [StreamRendering]

<PageTitle>Despre noi</PageTitle>

<h1>Despre noi</h1>

<p>
    Disofi-Trans SRL este o companie de transport internațional de mărfuri cu o experiență de peste 10 ani pe piață. Ne-am specializat în efectuarea curselor în interiorul Uniunii Europene, utilizând camioane de ultimă generație EURO5 și EURO6, garantând servicii eficiente și prietenoase cu mediul. Suntem un partener de încredere, licențiat la nivel european (CEMT) și membru al ANTA, ceea ce asigură calitatea și legalitatea tuturor operațiunilor noastre.

    Pentru noi, fiecare client este un partener spre succes, iar obiectivul nostru principal este să oferim soluții de transport rapide, sigure și personalizate, adaptate nevoilor fiecăruia.
</p>

