@page "/"

<PageTitle>Home</PageTitle>
<header>
  

    <h1 class="big-title translate" data-speed="0.1">Disofi-Trans.</h1>
    <h3 data-speed ="0.1">Partenerul tău de încredere în transportul internațional de mărfuri</h3>
    

    <img src=".//images//mountain1.png" class="mountain1 translate" data-speed="-0.2" alt="">
    <img src=".//images//mountain2.png" class="mountain2 translate" data-speed="0.4" alt="">
    <img src=".//images//mountain31.png" class="mountain3 translate" data-speed="0.3" alt="">
    <img src=".//images//sky2.png" class="sky translate" data-speed="0.5" alt="">
</header>

<section class="info-section section-one">
    <div class="container appear-on-scroll">
        <div class="content opacity">
            <div class="title">Servicii Oferite<div class="border"></div></div>
            <p class="text">Oferim servicii de transport internațional pentru o gamă largă de mărfuri, asigurând livrări sigure și rapide în întreaga Uniune Europeană.</p>
        </div>
        <div class="imgContainer opacity">
            <img src=".//images/imgineafon1.jpg" alt="Servicii de transport">
        </div>
    </div>
</section>

<section class="info-section section-two">
    <div class="container appear-on-scroll">
        <div class="imgContainer opacity">
            <img src=".//images/imgineafon4.jpg" alt="Servicii de transport">
        </div>
        <div class="content opacity">
            <div class="title">Servicii Oferite<div class="border"></div></div>
            <p class="text">Oferim servicii de transport internațional pentru o gamă largă de mărfuri, asigurând livrări sigure și rapide în întreaga Uniune Europeană.</p>
        </div>
    </div>
</section>

<section class="info-section section-three">
    <div class="container appear-on-scroll">
        <div class="content opacity">
            <div class="title">Servicii Oferite<div class="border"></div></div>
            <p class="text">Oferim servicii de transport internațional pentru o gamă largă de mărfuri, asigurând livrări sigure și rapide în întreaga Uniune Europeană.</p>
        </div>
        <div class="imgContainer opacity">
            <img src=".//images/imgineafon3.jpg" alt="Servicii de transport">
        </div>
    </div>
</section>

<section class="info-section section-four">
    <div class="container appear-on-scroll">
        <div class="imgContainer opacity">
            <img src=".//images/imgineafon2.jpg" alt="Servicii de transport">
        </div>
        <div class="content opacity">
            <div class="title">Servicii Oferite<div class="border"></div></div>
            <p class="text">Oferim servicii de transport internațional pentru o gamă largă de mărfuri, asigurând livrări sigure și rapide în întreaga Uniune Europeană.</p>
        </div>
    </div>
</section>





